.chatbotWrap {
  width: 350px;
  height: 650px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* background-color: #eaeef3; */
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 0 4px 16px rgb(0 0 0 / 25%);
  display: flex;
  flex-direction: column;
}

/* 未展开状态 */
.chatFold {
  width: 90px;
  height: 90px;
  border-radius: 15px;
  /* background-color: #0044e9; */
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor:pointer ;
  background: image('./机器人-03.png');
  background-image: url('./机器人-03.png');
  background-position: center;
  background-size: 90px 90px;
  background-repeat: no-repeat;
  box-shadow: none;
}
/* .chatFold::after{
  content: '答疑机器人';
  color: white;
  line-height: 90px;
  text-align: center;  
  
} */

.chatFold:hover{
  /* background-color: #2b69fa; */
}

.chatFold div {
  display: none;
}

/* 顶部 */
.chatbotHead {
  width: 350px;
  height: 100px;
  background-color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chatbotHead h2 {
  line-height: 80px;
  text-align: center;
}

.closeChatBot {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: #fff;
  outline: none;
  transform: scale(1.5, 1.2);
  cursor: pointer;
}

/* 中部 */
.chatbotBody {
  width: 350px;
  height: 500px;
  background-color: #eaeef3;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  overflow: auto;
}

.chatbotBody .botResponse {
  /* height: 50px; */
  width: fit-content;
  height: fit-content;
  line-height: 30px;
  border-radius: 20px 20px 20px 0px;
  margin: 16px;
  padding: 8px 16px;
  background-color: #fff;
  width: fit-content;
}

.chatbotBody .userAsk {
  width: fit-content;
  height: fit-content;
  align-self: flex-end;
  line-height: 30px;
  border-radius: 20px 20px 0px 20px;
  margin: 16px;
  padding: 8px 16px;
  color: #fff;
  background-color: #0044e9;
}



/* 底部 */
.chatbotFoot {
  width: 350px;
  height: 50px;
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.chatbotFoot input {
  outline: none;
  border: none;
  width: 75%;
  border-bottom-left-radius: 10px;
}

.chatbotFoot .send {
  width: 25%;
}

.chatbotFoot button {
  border-bottom-right-radius: 10px;
  border: none;
  outline: none;
  background-color: #0044e9;
  color: #fff;
  justify-self: flex-end;
  transition: all .3s;

  cursor: pointer;
}
.chatbotFoot button:hover{
  background-color: #2b69fa;
}